.row{
  background-color: rgb(94, 94, 94);
  height: 100vh;
  width: 100vw;
}
.savesegment{
  color: rgb(251, 255, 255);
  background-color: rgb(94, 94, 94);
  margin-top: 50px;
  margin-left: 50px;
  border: 2px solid white;
  padding: 10px;
  letter-spacing: 1px;
}